In [9]:
# Project Title: Contact Directory
# Step 1: Create a 2D list with sample contacts

In [24]:
contacts = [
    ["Ravi", "9876543210", "ravi@example.com"],
    ["Meera", "9123456780", "meera@example.com"],
    ["Sam", "9988776655", "sam@example.com"],
    ["Anu", "9001122334", "anu@example.com"],
    ["Raj", "9112233445", "raj@example.com"]
]

print(contacts)

[['Ravi', '9876543210', 'ravi@example.com'], ['Meera', '9123456780', 'meera@example.com'], ['Sam', '9988776655', 'sam@example.com'], ['Anu', '9001122334', 'anu@example.com'], ['Raj', '9112233445', 'raj@example.com']]

In [11]:

# Step 2: Allow user to add a new contact

In [34]:
name = input("Enter contact name: ")
phone = int(input("Enter phone number: "))
email = input("Enter email address: ")
contacts.append([name, phone, email])

print(contacts)
print(f"\nContact {name} added successfully!")

Enter contact name: Ram
Enter phone number: 8070899890
Enter email address: ram@example.com
[['Anu', '9001122334', 'anu@example.com'], ['Arun', 9080706050, 'arun@example.com'], ['Meera', '9123456780', 'meera@example.com'], ['Raj', '9112233445', 'raj@example.com'], ['Ravi', '9876543210', 'ravi@example.com'], ['Sam', '9988776655', 'sam@example.com'], ['Ram', 8070899890, 'ram@example.com']]

Contact Ram added successfully!

In [32]:

# Step 3: Display all contacts sorted alphabetically by name

contacts.sort()
print(contacts)

[['Anu', '9001122334', 'anu@example.com'], ['Arun', 9080706050, 'arun@example.com'], ['Meera', '9123456780', 'meera@example.com'], ['Raj', '9112233445', 'raj@example.com'], ['Ravi', '9876543210', 'ravi@example.com'], ['Sam', '9988776655', 'sam@example.com']]

In [37]:
# Step 4: Search contacts by name (partial match)
search_name = input("\nEnter name to search: ")
print(f"\nSearch Results for '{search_name}':")
found = False
for c in contacts:
    if search_name.lower() in c[0].lower():
        print("Name:", c[0], "| Phone:", c[1], "| Email:", c[2])
        found = True
if not found:
    print("No matching contacts found.")

Enter name to search: Ra

Search Results for 'Ra':
Name: Meera | Phone: 9123456780 | Email: meera@example.com
Name: Raj | Phone: 9112233445 | Email: raj@example.com
Name: Ravi | Phone: 9876543210 | Email: ravi@example.com
Name: Ram | Phone: 8070899890 | Email: ram@example.com

In [17]:

# Step 5: Display only the first 3 contacts after sorting

In [39]:
print("\nTop 3 Contacts (Alphabetical Order):")
for c in contacts[:3]:
    print("Name:", c[0], "| Phone:", c[1], "| Email:", c[2])

Top 3 Contacts (Alphabetical Order):
Name: Anu | Phone: 9001122334 | Email: anu@example.com
Name: Arun | Phone: 9080706050 | Email: arun@example.com
Name: Meera | Phone: 9123456780 | Email: meera@example.com